
* {
  box-sizing: border-box;
}

.project {
  min-height: 100vh;
}

body.project{
  margin: 0;
  background: linear-gradient(to bottom right, #d9ed92,#b5e48c, #99d98c, #76c893, #52b69a,#34a0a4, #168aad,#1a759f, #1e6091, #184e77);
}

.page-title{
  color: #184e77;
  font-family: 'Shantell Sans', cursive;
  font-size: 6em;
  text-shadow: -2px 2px #b5e48c, 4px 2px #34a0a4;
  text-align: center;
}

.game-info {
  color:#1e6091;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  background-color: #d9ed92;
  height: 175px;
  width: 125px;
  border-radius: 10px; 
  border: 1px solid black;  
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  -webkit-backface-visibility: hidden;  
  backface-visibility: hidden;   
  transition: transform 500ms ease-in-out;
}

.card:visible .card-back {
  transform: rotateY(-180deg);
}

.card:visible .card-front{
  transform: rotateY(0);
}

.card.matched .animals {
  animation: dance 1s linear infinite 500ms;
}

.overlay-text { 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: 'Shantell Sans', cursive;
  color: #184e77;
  text-shadow: -2px 2px #b5e48c, 4px 2px #34a0a4;
}
.overlay-text-small {
  font-size: .3em;
  font-family:  'Montserrat', sans-serif;
}
.overlay-text.visible {
   display: flex;
   animation: overlay-grow 1500ms forwards;
   flex-direction: column;
}

@keyframes overlay-grow {
  from{
      background-color: rgba(217, 237, 146, .2);
      font-size: 0;
  }
  to {
      background-color: rgba(52, 160, 164, 1);
      font-size: 8em;
      font-style: oblique;
  }
}

@keyframes dance{
  0%, 100% {
      transform: rotate(0) scale(1.2);
  }
  25% {
      transform: rotate(-30deg) scale(1.2);
  }
  75% {
      transform: rotate(30deg) scale(1.2);
  }
}

img {
  border-radius: 10px;
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  border: 1px solid black; 
  
}
img:hover {
  -webkit-transform:  scale(.90);
transform:  scale(.90);
  -webkit-transition: .3s ease-in-out;
  transition: .3sec ease-in-out;
}

.card-front {
  transform: rotateY(180deg);
}

@media (max-width: 600px) {
.game-container{
      grid-template-columns: repeat(2, auto) ;
  }   
  .game-info-container {
      flex-direction: column;
      align-items: center;
  }
}
